<div class="container">
   <div class="row">
      <% @teches.each do |tech|%>
       <div class="col-sm-4 ">
           <div class="thumbnail">
              <%=image_tag tech.image.url%><br> 
                <div class="caption">
                  <%=link_to tech.name ,tech_courses_path(tech)%><br>
                 </div>
            </div>
        </div>
      <%end%>
    </div>
</div>
