<div class="container">
   <div class="row">
      <% @educations.each do |education|%>
       <div class="col-sm-4 ">
           <div class="thumbnail">
              <%=image_tag education.image.url%><br> 
                <div class="caption">
                  <%=link_to education.name ,education_courses_path(education)%><br>
                 </div>
            </div>
        </div>
      <%end%>
    </div>
</div>
